beeai-framework
openai
gradio==5.50.0
pydantic==2.12.3
pydantic-settings
mplfinance
pandas
yfinance
matplotlib
python-dotenv
openbb==4.1.7
openbb-technical
openbb-yfinance
openbb-core
openbb-charting
litellm
anyio
asyncio
